<?xml version="1.0"?>
<config>
    <modules>
        <Smile_Dumpy>
            <version>1.0.0</version>
        </Smile_Dumpy>
    </modules>
    <global>
        <models>
            <smile_dumpy>
                <class>Smile_Dumpy_Model</class>
                <resourceModel>smile_dumpy_resource</resourceModel>
            </smile_dumpy>
            <smile_dumpy_resource>
                <class>Smile_Dumpy_Model_Resource</class>
            </smile_dumpy_resource>
        </models>
        <helpers>
            <smile_dumpy>
                <class>Smile_Dumpy_Helper</class>
            </smile_dumpy>
        </helpers>
    </global>
    <default>
        <system>
            <dumpy>
                <enabled>1</enabled>
                <frequency>W</frequency>
                <cron_expr>0 5 * * 1</cron_expr>
                <time>05,00,00</time>
                <dump_location>import/dump/</dump_location>
                <obfuscator_enabled>1</obfuscator_enabled>
                <obfuscator_base_email>some@example.com</obfuscator_base_email>
                <url_replaced>example.com/preprod.example.com</url_replaced>
            </dumpy>
        </system>
    </default>
    <crontab>
        <jobs>
            <dumpy_synchronization>
                <run>
                    <model>smile_dumpy/cron::synchronize</model>
                </run>
                <schedule>
                    <config_path>system/dumpy/cron_expr</config_path>
                </schedule>
            </dumpy_synchronization>
        </jobs>
        <events>
            <default>
                <observers>
                    <cron_observer>
                        <class>smile_dumpy/observer</class>
                        <method>dispatch</method>
                    </cron_observer>
                </observers>
            </default>
        </events>
    </crontab>
</config>
